body {
	margin-bottom: 3rem;

	color: #24292f;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--color-table-border: #d6d6d6;
	--color-note-alert: #ffd1d8;
}

h1,
h2,
h3 {
	font-weight: bolder;
	line-height: 1.1em;
	padding-bottom: 1px;
	border-bottom-color: hsla(210, 18%, 87%, 1);
	border-bottom-style: solid;
	margin-bottom: 0.4em;
}

h4 {
	font-weight: bolder;
	line-height: 1.1em;
	padding-bottom: 1px;
	margin-bottom: 0.35em;
	font-size: 1.05em;
}

img{
	border: black 1px solid;
}


p {
	margin-top: .5em;
	margin-bottom: .3em;
}

p>img {
	margin-top: .2em;
	margin-bottom: 1.2em;
}

body h1 {
	font-size: 2em;
	border-bottom-width: 2px;
}

/* body h1:first-of-type {
	font-size: 2.5em;
} */

body h2 {
	font-size: 1.5em;
	border-bottom-width: 1px;
}

body h3 {
	font-size: 1.25em;
	border-bottom-width: 0px;
}


ul,
ol {
	padding-left: 2em;
	/* line-height: 1.5em; */
	/* margin-top: 0.6em; */
	/* margin-bottom: 0.4em; */
}

body>ul>li {
	margin-bottom: .4em;
}

td,
th {
	border: 1px solid var(--color-table-border) !important;
	padding: 0.375em 0.8125em;
}

th {
	font-weight: bold;
	background-color: aliceblue;
	text-align: center !important;
}

code {
	padding: 0.2em 0.3em;
	margin: 0;
	background-color: #f5f5f5;
	font-size: 99% !important;
	border-radius: 4px;
	border-color: rgba(148, 156, 163, 0.2);
	color: #24292f !important;
	font-variant: slashed-zero;
}

pre.hljs code {
	font-size: .9rem !important;
	line-height: 1.2 !important;
}

pre.hljs,
pre.hljs code {
	padding: 0px;
}

pre.hljs code>div {
	margin-inline: .2em;
	/* padding-inline: 1em; */
	padding: 1rem !important;
	white-space: pre;
}

pre.hljs {
	margin-inline: inherit;
}

details>*:not(summary) {
	margin-left: 1em !important;
}

summary+* {
	margin-top: .1em;
}


/* よくgitとかであるnoteのやつ */
body {
	--color-note-info: #cef1c7;
	--color-note-warn: #fff495;
	--color-note-alert: #ffd1d8;
}

.note {
	display: flex !important;
	align-items: flex-start !important;
	padding: 1em !important;
	margin: .5em !important;
	white-space: pre-wrap !important;
	font-family: Meiryo;
}

.note>p {
	margin: 0%;
	margin-right: .7em;
	color: var(--color-fg-default);
}

.note::before {
	margin-right: 0.8em;
}

.note.info {
	background: var(--color-note-info) !important;
}

.note.info::before {
	content: "✅";
}

.note.warn {
	background: var(--color-note-warn) !important;
}

.note.warn::before {
	content: "⚠️";
}

.note.alert {
	background: var(--color-note-alert) !important;
}

.note.alert::before {
	content: "❌";
}

/* 差分のやつ */
del,
ins {
	display: block;
	text-decoration: none;
	position: relative;
}

del::before,
ins::before {
	position: absolute;
	left: 0.5rem;
	font-family: monospace;
}

del::before {
	content: '-';
}

ins::before {
	content: '+';
}

/* キーボード(Ctrlとかのやつ) */
kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
	color: #333;
	display: inline-block;
	font-size: .85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

/* hgroup */
hgroup {
	border-bottom-width: 1px;
	border-bottom-color: hsla(210, 18%, 87%, 1);
	border-bottom-style: solid;
	margin-bottom: 2em;
}

hgroup h1,
hgroup h3 {
	margin-bottom: .3em;
	border-bottom: none;
}

hgroup p {
	margin: 0;
	margin-left: 1em;
	font-weight: bold;
}

/* wikiのテーブル */

.wikitable {
	background-color: #f8f9fa;
	color: #202122;
	margin: 1em 0;
	border: 1px solid #a2a9b1;
	border-collapse: collapse;
}

.wikitable>tr>th,
.wikitable>*>tr>th {
	background-color: #eaecf0;
	text-align: center;
}

.wikitable>tr>th,
.wikitable>tr>td,
.wikitable>*>tr>th,
.wikitable>*>tr>td {
	border: 1px solid #a2a9b1;
	padding: 0.2em 0.4em;
}

hr {
	height: 2px;
	border-bottom: 1px solid;
	border-color: lightgray;
}

/* figcaption */
figure {
	display: flex;
	flex-flow: column;
	align-items: center;
}

figure>img {
	width: fit-content;
	border: solid 1px black;
}

figcaption {
	padding: 0.3em;
	margin-top: 0.4em;
}

figcaption>p {
	margin: 0;
}


/* Columnが2個のGrid */
.Column2Div {
	margin-block: 1em;
	padding: 0.3em;
	width: fit-content;
	display: grid;
	grid-template-columns: auto 40%;
	grid-template-areas:
		"Left Right"
		"Left Right";
	gap: 1em;
	justify-content: start;
}

.Column2Div>img {
	border: black 1px solid;
}

.Column2Div>div>ol {
	padding-left: 1em;
	margin-top: .3em;
}

.Column2Div> :nth-child(odd) {
	grid-area: Left;
}

.Column2Div> :nth-child(even) {
	grid-area: Right;
}